<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @mediciontipo.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @mediciontipo.nombre %>
</p>

<%= link_to 'Edit', edit_mediciontipo_path(@mediciontipo) %> |

